body {
  background-color: rgb(216, 83, 83);
  color: rgb(24, 8, 8);
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: rgb(226, 169, 63);
  color: rgb(24, 8, 8);
  border-style: none;
  border-radius: 100vh;
}

button:hover {
  opacity: 0.3;
}



input {
  height: 20px;
}